In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

train_data = pd.read_csv('adult.data', header= None, names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'])
test_data = pd.read_csv('adult.test', header= None, skiprows=1,  names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'])


od = test_data

#編號與特徵無關
train_data = train_data.drop(['fnlwgt'], axis=1)
test_data = test_data.drop(['fnlwgt'], axis=1)

#education與education-num相對應(重複)，故刪除。
train_data.drop(['education'], axis = 1, inplace = True)
test_data.drop(['education'], axis = 1, inplace = True)

# 每個元素的前後空格去掉
train_data = train_data.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
test_data = test_data.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

#查看各欄"?"各數
# train_data.apply(lambda x: np.sum(x == "?"))
# test_data.apply(lambda x: np.sum(x == "?"))

#把"?"取代為NaT
train_data.replace("?", pd.NaT, inplace = True)
test_data.replace("?", pd.NaT, inplace = True)


# #將缺失值補齊，名目資料填眾數，數值資料填平均值。
fill_data = {'workclass': train_data['workclass'].mode()[0], 'occupation': train_data['occupation'].mode()[0], 'native-country': train_data['native-country'].mode()[0]}
fill_data_test = {'workclass': test_data['workclass'].mode()[0], 'occupation': test_data['occupation'].mode()[0], 'native-country': test_data['native-country'].mode()[0]}

#缺失值填充
train_data.fillna(fill_data, inplace=True)
test_data.fillna(fill_data_test, inplace=True)

#將income欄位>50K改為1，<=50K改為0
train_data['income'] = train_data['income'].apply(lambda x: 0 if x == "<=50K" else 1)
test_data['income'] = test_data['income'].apply(lambda x: 0 if x == '<=50K.' else 1)


# train_data.describe()
train_data

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [2]:
from sklearn import preprocessing
from scipy.stats import zscore
numerical_columns = ['age', 'education-num', 'capital-gain', 'capital-loss']
train_data[numerical_columns] = train_data[numerical_columns].apply(zscore)
test_data[numerical_columns] = test_data[numerical_columns].apply(zscore)

train_data

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,0.030671,State-gov,1.134739,Never-married,Adm-clerical,Not-in-family,White,Male,0.148453,-0.21666,40,United-States,0
1,0.837109,Self-emp-not-inc,1.134739,Married-civ-spouse,Exec-managerial,Husband,White,Male,-0.145920,-0.21666,13,United-States,0
2,-0.042642,Private,-0.420060,Divorced,Handlers-cleaners,Not-in-family,White,Male,-0.145920,-0.21666,40,United-States,0
3,1.057047,Private,-1.197459,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,-0.145920,-0.21666,40,United-States,0
4,-0.775768,Private,1.134739,Married-civ-spouse,Prof-specialty,Wife,Black,Female,-0.145920,-0.21666,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.849080,Private,0.746039,Married-civ-spouse,Tech-support,Wife,White,Female,-0.145920,-0.21666,38,United-States,0
32557,0.103983,Private,-0.420060,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,-0.145920,-0.21666,40,United-States,1
32558,1.423610,Private,-0.420060,Widowed,Adm-clerical,Unmarried,White,Female,-0.145920,-0.21666,40,United-States,0
32559,-1.215643,Private,-0.420060,Never-married,Adm-clerical,Own-child,White,Male,-0.145920,-0.21666,20,United-States,0
32560,0.983734,Self-emp-inc,-0.420060,Married-civ-spouse,Exec-managerial,Wife,White,Female,1.888424,-0.21666,40,United-States,1

In [3]:
# from sklearn import preprocessing
# from scipy.stats import zscore
# numerical_columns = ['age', 'education-num', 'capital-gain', 'capital-loss']
# train_data[numerical_columns] = train_data[numerical_columns].apply(zscore)
# test_data[numerical_columns] = test_data[numerical_columns].apply(zscore)

# train_data

In [4]:
# 使用pandas的get_dummies函數執行獨熱編碼
train_data = pd.get_dummies(train_data, columns=['workclass', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country'], dtype=int)


test_data = pd.get_dummies(test_data, columns=['workclass', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country'], dtype=int)

#在讀熱編碼後會依照有名目之欄位產生資料，train_data比test_data多出了該欄位，故將test_data新增該欄位，讓兩個資料集欄位相同。
test_data['native-country_Holand-Netherlands'] = 0

#刪除重複列
train_data.drop_duplicates(inplace=True)
test_data.drop_duplicates(inplace=True)

#將資料隨機化
# from sklearn.utils import shuffle
# train_data = shuffle(train_data)

train_data.describe()

,age,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
count,28970.000000,28970.000000,28970.000000,28970.000000,28970.000000,28970.000000,28970.000000,28970.000000,28970.000000,28970.000000,...,28970.000000,28970.000000,28970.000000,28970.000000,28970.000000,28970.000000,28970.000000,28970.000000,28970.000000,28970.000000
mean,0.051229,0.007805,0.016975,0.025546,40.652054,0.247843,0.032654,0.070349,0.000242,0.729375,...,0.001277,0.003935,0.000414,0.002761,0.001760,0.000621,0.000656,0.903521,0.002313,0.000552
std,1.003132,1.029122,1.055455,1.054415,12.748275,0.431767,0.177734,0.255738,0.015543,0.444290,...,0.035715,0.062608,0.020349,0.052478,0.041921,0.024919,0.025602,0.295252,0.048036,0.023495
min,-1.582206,-3.529656,-0.145920,-0.216660,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-0.775768,-0.420060,-0.145920,-0.216660,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,-0.042642,-0.031360,-0.145920,-0.216660,40.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,0.690484,1.134739,-0.145920,-0.216660,45.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,3.769612,2.300838,13.394578,10.593507,99.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
import time

# 記錄開始時間
start_time = time.time()

# 從train_data中提取所有特徵，排除 'hours-per-week'
# X_train是特徵
X_train = train_data.drop('hours-per-week', axis=1)

#將欄位重新排序
X_train = X_train.sort_index(axis=1)

# 提取目標變量 'hours-per-week'
y_train = train_data['hours-per-week']

x_test = test_data.drop('hours-per-week', axis=1)

#將欄位重新排序
x_test = x_test.sort_index(axis=1)

y_test = test_data['hours-per-week']

In [6]:
# from sklearn.svm import SVC, LinearSVC

# modelSVM = SVC(kernel='linear', C=100)

# modelSVM.fit(X_train, y_train,)

# print("\nSVM model: Y = w0 + w1*x1 + w2*x2")
# print('截距: w0={}'.format(modelSVM.intercept_))
# print('係數: w1={}'.format(modelSVM.coef))
# print('分類精準度: {:.4f}'.format(modelSVM.score(X_train, y_train)))

In [7]:
from sklearn.svm import SVR

# linear_svr: 這是建立的 SVR 模型的物件或實例的名稱，你可以使用這個物件來訓練模型、進行預測等操作。
# SVR: 這是支援向量機回歸的類別。
# C=200: 這是一個正規化參數，控制模型的複雜度。較大的C值表示模型將更努力擬合訓練數據，但也可能導致過度擬合。
# max_iter=1000000: 這是最大迭代次數，用於指定優化算法的最大迭代次數。
# cache_size=1000: 這是用於指定內核緩存大小的參數。內核緩存是在訓練期間存儲計算結果，以加速計算。

linear_svr = SVR(C=200,max_iter=1000000,cache_size=1000)
linear_svr.fit(X_train, y_train)
y_pred= linear_svr.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import mean_absolute_percentage_error
# print(mean_squared_error(y_test,y_pred))

# #計算目標點跟鄰近幾個點的距離
# print(np.sqrt(mean_squared_error(y_test,y_pred)))

# #計算均方誤差回歸損失，越接近1擬合效果越好 
# print(r2_score(y_test,y_pred))
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)

mape = mean_absolute_percentage_error(y_test, y_pred)
print("mean_absolute_percentage_error:", mape)

rmse = np.sqrt(mse) 
print("Root Mean Squared Error (RMSE):", rmse)

r2 = r2_score(y_test, y_pred)
print("R-squared (R2):", r2)

Mean Squared Error (MSE): 125.57362324478308
mean_absolute_percentage_error: 0.3111855600081879
Root Mean Squared Error (RMSE): 11.205963735653578
R-squared (R2): 0.2241013690739253

In [ ]:
# 計算執行時間
elapsed_time = time.time() - start_time

print(f"執行時間: {elapsed_time} 秒")

執行時間: 282.4386351108551 秒

In [ ]:
# from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

# print('R-squared value of linear SVR is', linear_svr_y_predict.score(x_test, y_test))
# print('The mean squared value of linear SVR is', mean_squared_error(linear_svr.inverse_transform(y_test), linear_svr.inverse_transform(linear_svr_y_predict)))
# print('The mean absoluate value of linear SVR is', mean_squared_error(linear_svr.inverse_transform(y_test), linear_svr.inverse_transform(linear_svr_y_predict)))

In [ ]:
# import numpy as np
# import matplotlib.pyplot as plt
# from sklearn. svm import SVC, LinearSVC 
# from sklearn. datasets import make_blobs

# X_train, y_train = make_blobs (n_samples=40, centers=2, random_state=27)


# print("\nSVM model: Y = w0 + w1*x1 +w2*x2") # 分类超平面模型
# print('截距 w0: {}'.format(linear_svr.intercept_[0]))
# print('係數 w1: {}'.format(linear_svr.coef_[0]))
# print('分類精準度: {:.4f}'.format(linear_svr.score(x_test, y_test)))


# plt.scatter(X_train[:,0], X_train[:,1], c=y_train, s=30, cmap=plt.cm.Paired)
# ax = plt.gca()
# xlim = ax.get_xlim()
# ylim = ax.get_ylim()
# xx = np.linspace(xlim[0], xlim[1], 30)
# yy = np.linspace(ylim[0], ylim[1], 30)
# YY, XX = np.meshgrid(yy, xx)
# # 合并网格点
# xy = np.c_[xx.ravel(), yy.ravel()]

# Z = linear_svr.decision_function(xy).reshape(xx.shape)
# ax.contour(XX, YY, Z, color='k', levels=[-1, 0, 1], alpha=0.5, linestyles=['--', '-', '--'])
# ax.scatter(linear_svr.support_vectors_[:, 0], linear_svr.support_vectors_[:, 1], s=100, linewidth=1, facecolor='none', edgecolor='k')
# plt.show()